body {
    font-family: 'Playfair Display', serif,  "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-image: url("../imgs/banner4.jpg");
}

.header {
    background-image: url("../imgs/banner4.jpg"); 
    background-size: cover; 
    background-position: center;
    height: 9em;
    padding: 2em;
    border-radius: 10px;
}

.navbar {
    background-color: rgb(236, 212, 166) !important;
}

.image_nav{
    width: 40px;
}

.nav-item{
    color: black;
}

.header h1 {
    margin: 10px 0px 10px 0px;
    font-weight: 400;
    color: black;
}

.header p {
    margin: 0px;
    font-weight: 400;
    font-size: larger;
    color: goldenrod;
}

.grilla-joyas{
    width: auto; 
    margin: auto auto;
}
  
.img-joyas {
      width: 140px; 
      height: 140px; 
      object-fit: cover;
}

.border-card{
    border: 2px solid rgb(236, 212, 166)
}

.divider-color{
    border-top: 2px solid rgb(240, 179, 67);
}

.precio-joyas {
    text-align: right; 
  }
  
.precio-desc-joyas {
    font-size: 25px; 
    margin-left: 1em;
    color: rgb(240, 179, 67); 
  }

.titulo {
    font-size: x-large;
}

.form-color{
    margin-top: 10px;
    padding: 30px;
    background-color: rgb(236, 212, 166);
    color: black;
    text-align: center;
    font-weight: 300;
    border-radius: 30px;

}
.btn-color{
    background-color: rgb(240, 179, 67);
    border-color: #ff0000;
    color: #ffffff; 
}

.footer {
    margin-top: 10px;
    height: 3em;
    color: black;
    text-align: center;
    font-weight: 200;
    font-size: 14px;

}
.img-footer{
    width:35px;
    height:35px;
}